/* Basic styling for the personal works page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e2cde9; /* Soft pink background */
    margin: 0;
    padding: 0;
    background-image: url("banner.jpg");
    background-size: cover;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.App-header {
    color: white;
    padding: 20px;
    width: 100%;

}

.App-header h1 {
    font-size: 2.5em;
}

.App-header p {
    font-size: 1.2em;
}

.projects,
.work-experience,
.education {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projects h2,
.work-experience h2,
.education h2 {
    font-size: 2em;
    color: #fffdff; /* Muted purple for section titles */
    text-align: center;
}

.project-card,
.work-card,
.education-card {
    background-color: #ffffff; /* Clean white background for cards */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 20px;
    border: 2px solid #d6a9e3; /* Light purple border */
}

.project-card h3,
.work-card h3,
.education-card h3 {
    margin: 0;
    font-size: 1.6em;
    color: #3d2945; /* Rich purple for headings */
}

.project-card p,
.work-card p,
.education-card p {
    font-size: 1em;
    color: #361f40; /* Muted purple text */
}

.project-card a {
    color: #aa90c5; /* Soft pink for links */
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
    color: #f27c8e; /* Brighter pink on hover */
}

.education-card ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #6a3b7e; /* Muted purple for list items */
}

/* Add subtle background color to sections */
.projects,
.work-experience,
.education {
    background-color: #5b5295; /* Soft blush pink background for sections */
    padding: 20px;
    border-radius: 8px;
}

.App-footer {
    background-color: #c0add8; /* Rich purple (same as header) */
    color: white;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.App-footer p {
    margin: 0;
    font-size: 1em;
}
